{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/about_us.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'user/favicon.ico' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="Top-container">
            <img id="th3" src="{% static 'user/favicon.ico' %}" alt="Logo" />
            <span id="th1">TxtfyWeb</span>
            <a href="{% url 'home'%}" id="homeicon">
                <span class="material-icons" style="font-size: 69px;">home</span>
            </a>
    </div>
    <div class="header-container">
        <div class="header-text">Developers</div>
    </div>
    <div class="about">
        <div class="name">Chunduri Abhijit</div>
        <div class="contr">Implemented Drag and Drop functionality, Download Button in the edit page, Implemented image reading function and Text editor, Templates, Report and Document Writing.</div>
        <div class="social-icons-container">
            <a href="#" target="_blank">
                <i class="fa fa-linkedin-square" style="font-size:24px;color:#F9C80E; margin-right: 20px;"></i>
            </a>
            <a href="https://github.com/abhijitch1" target="_blank">
                <i class="fa fa-github" style="font-size:24px;color:#F9C80E; margin-right: 20px;"></i>
            </a>
            <a href="mailto:mailto:chunduri_a@cs.iitr.ac.in">
                <i class="fa fa-envelope" style="font-size:24px;color:#F9C80E;"></i>
            </a>
        </div>
    </div>

    <div class="about">
        <div class="name">Chukka nithin</div>
        <div class="contr">Implemented saving, deletion of project, saving of images into the database, and copying text to the clipboard. Also, worked on User Signup, Password Reset, Report, and Document Writing.</div>
        <div class="social-icons-container">
            <a href="https://www.linkedin.com/in/nithinchukka/" target="_blank">
                <i class="fa fa-linkedin-square" style="font-size:24px;color:#F9C80E; margin-right: 20px;"></i>
            </a>
            <a href="https://github.com/nithinchukka" target="_blank">
                <i class="fa fa-github" style="font-size:24px;color:#F9C80E; margin-right: 20px;"></i>
            </a>
            <a href="mailto:chukka_n@cs.iitr.ac.in">
                <i class="fa fa-envelope" style="font-size:24px;color:#F9C80E;"></i>
            </a>
        </div>
    </div>
    
    <div class="about">
        <div class="name">Pikala Ritwik Durga</div>
        <div class="contr">Designed the whole UI for all the web-pages, Open and Edit, Delete functionality, Pdf Previews, User Signin, Saving of Project Name, Templates, Text Editor, ReadMe File and Document Writing.</div>
        <div class="social-icons-container">
            <a href="https://www.linkedin.com/in/ritwik-durga-89b136259/" target="_blank">
                <i class="fa fa-linkedin-square" style="font-size:24px;color:#F9C80E; margin-right: 20px;"></i>
            </a>
            <a href="https://github.com/ritwikdurga" target="_blank">
                <i class="fa fa-github" style="font-size:24px;color:#F9C80E; margin-right: 20px;"></i>
            </a>
            <a href="mailto:pikala_rd@cs.iitr.ac.in">
                <i class="fa fa-envelope" style="font-size:24px;color:#F9C80E;"></i>
            </a>
        </div>
    </div>

    <div class="about">
        <div class="name">Reddi Leela Jogeendar Sai</div>
        <div class="contr">Designed Frontend part for Edit page, HomePage, Signin, Signup, Change Password, Forgot Password, and Project Presentation.</div>
        <div class="social-icons-container">
            <a href="https://www.linkedin.com/in/reddi-leela-jogeendar-sai-752256259/" target="_blank">
                <i class="fa fa-linkedin-square" style="font-size:24px;color:#F9C80E; margin-right: 20px;"></i>
            </a>
            <a href="https://github.com/rljsai" target="_blank">
                <i class="fa fa-github" style="font-size:24px;color:#F9C80E; margin-right: 20px;"></i>
            </a>
            <a href="mailto:mailto:reddi_ljs@cs.iitr.ac.in">
                <i class="fa fa-envelope" style="font-size:24px;color:#F9C80E;"></i>
            </a>
        </div>
    </div>

    <div class="about">
        <div class="name">Vangapandu Lohith Kumar</div>
        <div class="contr">Designed Frontend part of HomePage, About Us, Signin, Signup, and Project Presentation.</div>
        <div class="social-icons-container">
            <a href="https://www.linkedin.com/in/lohith-kumar-vangapandu-44036b259/" target="_blank">
                <i class="fa fa-linkedin-square" style="font-size:24px;color:#F9C80E; margin-right: 20px;"></i>
            </a>
            <a href="https://github.com/lohith49" target="_blank">
                <i class="fa fa-github" style="font-size:24px;color:#F9C80E; margin-right: 20px;"></i>
            </a>
            <a href="mailto:mailto:vangapandu_lk@cs.iitr.ac.in">
                <i class="fa fa-envelope" style="font-size:24px;color:#F9C80E;"></i>
            </a>
        </div>
    </div> 
</body>
</html>
