{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" id="icon" href="{% static 'user/favicon.ico' %}" />
    <meta charset="UTF-8" />
    <title>Password Reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'user/password_reset.css' %}" />
    
  </head>

  <body>
    <div id="heading">
      <img id="th3" src="{% static 'user/favicon.ico' %}" alt="Logo" />
      <span id="th1">TxtfyWeb</span>
    </div>
    <div class="d1">
      <h1 class="h">Password Reset</h1>

      <form method="post" id="emailForm">
        {% csrf_token %}
        <div class="fieldholder">
          <input type="text" id="eml" name="email" size="50" required />
          <br />
          <label for="eml" id="x">Email Address</label>
        </div>

        <div id="container">
          <button class="next" id="next" type="submit">
            <span class="circle" aria-hidden="true"><span class="icon arrow"></span></span>
            <span class="button-text">Reset Password</span>
          </button>
        </div>

        <span id="msg">Invalid Email Address</span>
      </form>
      

      {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <div id="form_errors">
            {% for key, value in form.errors.items %}
              <strong style="color: red;">{{ value }}</strong>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if messages %}
      <div class="alert alert-danger" style="color: red; position: relative; right: 5%;">
          <ul class="errorlist">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
      </div>
      {% endif %}


    </div>
    
    <div class="d2">
      <img src="{% static 'user/change_password.jpg' %}" />
    </div>
  </body>
</html>
