{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="{% static 'user/favicon.ico' %}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div id="heading">
      <img id="th3" src="{% static 'user/favicon.ico' %}" alt="Logo" />
      <span id="th1">TxtfyWeb</span>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'user/password_reset_confirm.css' %}" />
    <title>Password Reset</title>
  </head>

  <body>
    <div class="d1">
      {% if validlink %}
        <h1 class="h">Password Reset</h1>
        <form method="POST">
          {% csrf_token %}
          <div class="fieldholder">
            <input type="password" name="new_password1" autocomplete="new-password" class="form-control" required id="id_new_password1" />
            <label for="pwd pfield" id="x1">Enter Password</label>
            <i class="far fa-eye eye-icon" id="togglePassword"></i>
          </div>
          <div class="fieldholder">
            <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control" />
            <label for="cpwd pfield" id="x2">Confirm Password</label>
            <i class="far fa-eye eye-icon" id="toggleConfirmPassword"></i>
          </div>
          <div id="container">
            <button class="next" id="reset" type="submit">
              <span class="circle" id="circle" aria-hidden="true"><span class="icon arrow"></span></span>
              <span class="button-text">&nbsp;&nbsp;Update</span>
            </button>
          </div>
        </form>
        {% if form.errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
              {% for key, value in form.errors.items %}
                <strong style="color: red;">{{ value }}</strong>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% else %}
        <br />
        <br />
        <div class="alert alert-warning" style="color: red; font-size: xx-large; text-align: center;">The password reset link was invalid, possibly because it has already been used. Please request a new reset link.</div>
        <br />
        <br />
        <div id="upload-button">
          <button class="button-28" type="button" onclick="window.location.href = '{% url 'password_reset' %}'">Password Reset</button>
        </div>
      {% endif %}
    </div>
    <div class="d2">
      <img src="{% static 'user/change_password.jpg' %}" />
    </div>

    <script src="{% static 'user/password_reset_confirm.js' %}"></script>
  </body>
</html>
