{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Signup-Txtfy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'user/signup_password.css' %}" />
    <script defer src="{% static 'user/signup_password.js' %}"></script>
    {% if not messages %}
      <style>
        .d1 {
          animation: 750ms ease-in-out 1 forwards slideIn;
        }
        @keyframes slideIn {
          from {
            transform: translateX(100%);
            opacity: 0.01;
          }
        
          to {
            transform: translateX(0%);
            opacity: 1;
          }
        }
      </style>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="{% static 'user/favicon.ico' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  </head>
  <body>
    <div id="heading">
      <img id="th3" src="{% static 'user/favicon.ico' %}" alt="Logo" />
      <span id="th1">TxtfyWeb</span>
    </div>
    <div class="d1">
      <h1 class="h">Sign Up</h1>
      <form action="{% url 'signup' %}" onsubmit="return verifyPassword()" method="POST">
        {% csrf_token %}

        <div class="fieldholder">
          <input type="text" id="name" name="name" size="50" required />
          <label for="name">Name</label>
        </div>

        <div class="fieldholder">
          <input type="password" id="pwd" name="pwd" size="50" required />
          <label for="pwd pfield" id="x1">Enter Password</label>
          <i class="far fa-eye eye-icon" id="togglePassword"></i>
        </div>

        <div class="fieldholder">
          <input type="password" id="cpwd" name="cpwd" size="50" required />
          <label for="cpwd pfield" id="x2">Confirm Password</label>
          <i class="far fa-eye eye-icon" id="toggleConfirmPassword"></i>
        </div>
        <span id="message"></span>

        <div id="container">
          <button class="next" id="next" type="submit">
            <span class="circle" aria-hidden="true"><span class="icon arrow"></span></span>
            <span class="button-text">Create Account</span>
          </button>
        </div>
      </form>
    </div>
    <div class="d2">
      <img src="{% static 'user/SIGNUP_PASSWORD.jpeg' %}">
    </div>
  </body>
</html>
